fastapi
uvicorn
PyMuPDF
pytesseract
Pillow
pillow-heif
python-multipart
fonttools
pikepdf
pycryptodome
cryptography
pdfplumber
pdfminer.six
pandas
openpyxl
beautifulsoup4
lxml
python-pptx
scour
cairosvg
pycdlib
